body{
    margin: 0;
}

#container{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Yasuo_0.jpg");
    background-size: cover;  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#login-form{
    width: 500px;
    background-color: white;
    margin: auto 0;
}

#login-title{
    display: flex;
    justify-content: center;
}

#warning-logo{
    width: 20px;
    height: 20px;
    margin: auto 0;    
}

#attention{
    color: blueviolet;
    display: flex;
    justify-content: center;
}

#input{
    height: 8vh;
    margin: 16px 32px;
}

#login-input{
    display: flex;
    flex-direction: column;
}

#another-login-but{
    display: flex;
    justify-content: space-evenly;
}

#stay{
    display: flex;
    margin: 16px 32px;
}

#submit-but{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

#create-acc{
    display: flex;
    justify-content: center;
    text-align: center;
}
